<div class="container-fluid">
    <div className="profile-container">
        <header>
            <div class="col-md-4">
               <h2></h2>
            </div>
            <div class="col-md-5">
                
            </div>
            <div class="col-md-3">
                <a [routerLink]="['/']" class="btn btn-success">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Login
                </a>
                <a [routerLink]="['/insert/client']" class="btn btn-success"> Cadastrar
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
            </div>
        </header>
    </div>
</div>

<div>
    <router-outlet></router-outlet>
</div>