body{
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

.margin{
    margin-top: 150px;
}

input {
    font: 400 18px Roboto, sans-serif;
}

button{
    cursor: pointer;
}

form input{
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}