<div class="margin">
    <div class="container">
        <div className="logon-container">
            <section className="form">
                <form>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="dataLimit" ngModel name="dataLimit"
                                placeholder="Email" minlength="18" required>
                            <input type="password" class="form-control" id="dataLimit" ngModel name="dataLimit"
                                placeholder="Password" minlength="18" required>
                        </div>
                        <input type="submit" class="btn btn-success" value="Logar" (click)="Logon()">
                        <a [routerLink]="['/insert/client']" class="btn btn-default">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Cadastrar
                        </a>
                    </div>
                    <div class="col-md-6">
                        <img class="logo" src="../../../assets/logo.png" alt="">
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>