<div class="margin">
    <div class="container">
        <div class="col-md-12">
            <header>
                <div class="col-md-4">
                    <img src="../../../assets/logo.png" alt="">
                </div>
                <div class="col-md-4">
                    <h3 class="color"><span>Bem vindo, </span></h3>
                </div>
                <div class="col-md-4">
                    <a [routerLink]="['/view/problem']" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Visualizar
                    </a>
                    <a [routerLink]="['/insert/problem']" class="btn btn-success"> Cadastrar
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                    <a [routerLink]="['/logon/client']" class="btn btn-danger"> 
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"> </span> Sair
                    </a>
                </div>
            </header>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 text">
                <p>O principal objetivo deste software é o de buscar a excelência  no atendimento das principais questões ligadas ao agronegócio brasileiro, descreva suas necessidades e entraremos em contato o mais breve possível.</p>
            </div>
            <div class="col-md-9">
                <img class="img" src="../../../assets/tecnologia-planta.jpg" alt="">
            </div>
        </div>
    </div>
</div>