.container{
    border: 3px solid #77DD77;
    padding-top: 15px;
}
.container-fluid{
    background-color: #008000;
}

.logo {
    position: absolute;
    margin-left: 100px;
    margin-top: 50px;
}

.margin{
    margin-top: 100px;
}

.color{
    color: #008000;
}

body{
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}