<div class="margin">
    <div class="container">
        <div className="logon-container">
            <section className="form">
                <form #form="ngForm" (ngSubmit)="onSubmit(form)" >
                    <div class="col-md-6">
                        <h3 class="color">Cadastrar</h3>
                        <div class="valid" *ngIf="!name.valid && name.touched" class="alert alert-danger " role="alert">
                            Nome é Obrigatório.
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" ngModel name="name" placeholder="Nome *" required
                            #name="ngModel">
                        </div>
                        
                        <div class="valid" *ngIf="!email.valid && email.touched" class="alert alert-danger " role="alert">
                            Email inválido.
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" ngModel name="email"placeholder="Email *"
                             required  #email="ngModel">
                        </div>

                        <div class="valid" *ngIf="!phone.valid && phone.touched" class="alert alert-danger " role="alert">
                            Telefone é Obrigatório.
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="phone" ngModel name="phone" 
                            placeholder="Telefone *" required #phone="ngModel">
                        </div>

                        
                        <div class="valid" *ngIf="!password.valid && password.touched" class="alert alert-danger " role="alert">
                            Digite sua Senha.
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" ngModel name="password" 
                            placeholder="Senha *" required #password="ngModel">
                        </div>

                        <div class="valid" *ngIf="!phone.valid && password2.touched" class="alert alert-danger " role="alert">
                            Confirme sua Senha.
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password2" ngModel 
                            name="password2" placeholder="Confirmar Senha*" required #password2="ngModel">
                        </div>
                        <input type="submit" class="btn btn-success" value="Cadastrar" [disabled]="!form.valid">
                        <a [routerLink]="['/logon/client']" class="btn btn-default">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Logon
                        </a>
                    </div>
                    <div class="col-md-6">
                        <img class="logo" src="../../../assets/logo.png" alt="">
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>