<div class="margin">
    <div class="container">
        <div class="col-md-12">
            <header>
                <div class="col-md-6 text-center">
                    <img src="../../../assets/logo.png" alt="">

                    <h3 class="color"><span>Bem vindo, {{ this.client() }}</span></h3>

                    <div class="text"  class="jumbotron">
                        <p>O principal objetivo deste software é o de buscar a excelência no atendimento das principais
                            questões ligadas ao agronegócio brasileiro, cadastre-se e descreva suas necessidades.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="aling">
                    <a [routerLink]="['/view/problem']" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Visualizar
                    </a>
                    <a [routerLink]="['/register/problem']" class="btn btn-success"> Cadastrar
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                    <a class="btn btn-danger" (click)="logout()">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"> </span> Sair
                    </a>
                    </div>
                    <img class="img" src="../../../assets/initial.jpg" alt="">

                </div>
            </header>
        </div>

    </div>
</div>